<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Detalle de Producto</title>
</head>
<body>
	<div class="container">
		<h1 class="text-secondary my-3">Detalle de Producto</h1>
		<form>
			<div class="form-group">
				<label for="">Descripcion: </label>
				<input type="text" class="form-control" disabled/>
			</div>
			<div class="form-group">
				<label for="">Precio: </label>
				<input type="text" class="form-control" disabled/>
			</div>
			<div class="form-group">
				<label for="">Stock: </label>
				<input type="text" class="form-control" disabled/>
			</div>
			<div class="form-group">
				<label for="">Categoria: </label>
				<input type="text" class="form-control" disabled/>
			</div>
			<div class="form-group">
				<label for="">Estado: </label>
				<input type="text" class="form-control" disabled/>
			</div>
		</form>
		<a href="#">Regresar al listado de Productos</a>
	</div>
</body>
</html>